.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addMovie {
  position:relative;
}

.addMovieButton{
  z-index: 1;
  position:absolute;top:0px;left:0px;
  background-color: Transparent;
  background-image: url(./images/addMovie.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 100%;
  width: 100%;
  border: none;
  opacity: 0.8;
  
}
.addMovieButton:hover {
  transform: scaleX(50%);
  opacity: 1;
  background-image: url(./images/addMovie-hover.png);
}

.addMovieButton-pressed{
  z-index: 1;
  position:absolute;top:0px;left:0px;
  background-color: Transparent;
  background-image: url(./images/addMovie-active.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 100%;
  width: 100%;
  border: none;
  opacity: 0.8;
  
}
.addMovieButton-pressed:hover {
  opacity: 1;
}

.addMovieButton:active {
  opacity: 1;
  background-image: url(./images/addMovie-hover.png);
}

/*Movie Card Animation */
.card-appear {
  opacity: 0;
  transform: translate(0%,200%);
}

.card-enter{
  opacity: 0;
  transform: translate(0%,200%);
}

.card-appear.card-appear-active{
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 1500ms linear, transform 1500ms;
}
.card-enter.card-enter-active{
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 1500ms linear, transform 1500ms;
}